@import '../../variables.scss';

.input-data {
  .input-btn {
    cursor: pointer;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
    svg {
      fill: $btn-color;
      vertical-align: middle;
    }
  }

  .operation-block {
    display: inline-block;
    vertical-align: middle;
  }

  .form-input {
    display: inline-block;
    margin: 0 5px;
    padding: 30px 0 10px;

    input {
      max-width: 80px;
    }

    .input-btn {
      position: absolute;
      top: 5px;
      left: calc(50% - 10px);
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .add-btn {
    display: inline-block;
    vertical-align: middle;
    svg {
      width: 25px;
      height: 25px;
    }
  }
}