@import '../variables.scss';

.operation-page {
  height: calc(100vh - 40px);
  box-sizing: border-box;

  aside {
    width: calc(50% - 20px);
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    font-size: 12px;
    line-height: 1.2;
    color: $light-text-color;

    @media(max-width: 790px) {
      display: none;
    }

    .welcome-message {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 600;
      color: $text-color;
    }
  }

  main {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 100%;
    max-width: 600px;
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
    border-left: 1px solid $border-color;
    box-sizing: border-box;

    @media(max-width: 790px) {
      display: block;
      width: 100%;
      border: none;
      margin: 0 auto;
    }

    > div {
      height: 100%;
    }

    .form {
      flex-direction: column;
      display: flex;
      height: 100%;

      .data-container {
        margin: 20px 0;
        overflow: auto;
      }
    }
  }
}

.values-table {
  border-collapse: collapse;

  th > * {
    display: inline-block;
    vertical-align: middle;
  }

  tr:hover {
    td {
      background: lighten($border-color, 10%);
    }
  }

  tr td,
  tr th {
    padding: 10px 15px;
    border: 1px solid $border-color;
  }

  tr th {
    background: linear-gradient(to bottom, #efefef 0%, #ccc 100%);
  }
}


.form {
  button {
    padding: 5px 10px;
    background: $btn-color;
    color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 2px;

    &:disabled {
      background: #ccc;
    }
  }

  .form-footer {
    padding: 10px 0;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .prev-btn {
      float: left;
    }
    .next-btn {
      float: right;
    }
  }
}
.toLeft {
  animation: toLeft 0.3s;
}

.fromRight {
  animation: fromRight 0.3s;
}

.toRight {
  animation: toRight 0.3s;
}

.fromLeft {
  animation: fromLeft 0.3s;
}

@keyframes toLeft {
  0% {
    transform: translateX(0%);
  }

  99% {
    transform: translateX(-100%);
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  2% {
    opacity: 1;
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes toRight {
  0% {
    transform: translateX(0%);
  }

  99% {
    transform: translateX(100%);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  2% {
    opacity: 1;
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}