@import '../variables.scss';


.main-page {
  text-align: center;

  .description {
    font-size: 14px;
    line-height: 1.2;
    color: $text-color;
  }

  a {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: $btn-color;
    cursor: pointer;
  }
}