@import '../../variables.scss';

.login-form {
  width: 60%;
  max-width: 300px;
  min-width: 200px;
  margin: 0 auto;

  @media(max-width: 500px) {
    width: 100%;
  }

  .description {
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    color: $light-text-color;
  }

  .form-input {
    margin: 5px auto;

    input {
      width: 100%;
    }

    input:invalid:not(:placeholder-shown) {
      border-color: red;
    }
  }

  button {
    display: block;
    width: 130px;
    margin: 5px auto;
  }
}