@import '../../variables.scss';

.values-table {
  .sort-btn {
    margin-left: 10px;
    cursor: pointer;
    svg {
      width: 20px;
      height: 20px;
      fill: $light-text-color;
    }

    &.asc-order {
      svg {
        fill: $text-color;
      }
    }

    &.desc-order {
      transform: rotate(180deg);
      svg {
        fill: $text-color;
      }
    }
  }
}

.search-input {
  width: 100%;
}