@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.loader {
  text-align: center;
  img {
    width: 30px;
    height: 30px;
  }
}

.root {
  padding: 20px;
}

.page-content {
  max-width: $page-width;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid lighten($border-color, 10%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

button {
  border: none;
  outline: none;
  appearance: none;
}

svg {
  vertical-align: middle;
}

.svgContainer {
  display: none;
}

.form-input {
  position: relative;

  input {
    padding: 5px;
    color: $text-color;
    outline: none;
    border: 1px solid $border-color;
    border-radius: 2px;
    box-sizing: border-box;
  }
}